body {
      font-family: "Poppins", sans-serif;
      background: url("../images/bg_landing03.png") ;
      color: #222;
      margin: 0;
      padding: 0;
      background: url("../images/bg_landing03.png") ;
    }

    /* Section Container */


    /* Left Column */
    .location-info {
      flex: 1;
      margin-top: 0px;
      
    }

    .location-info h2 {
      font-size: 32px;
      margin-bottom: 20px;
      color: #000;
      font-weight: 700;
      border-left: 6px solid gold;
      padding-left: 15px;
    }

    .location-info p {
      font-size: 18px;
      line-height: 1.7;
      margin-bottom: 0px;
      color: #333;
    }

    .location-info a {
      display: inline-block;
      padding: 12px 24px;
      background: gold;
      color: #000;
      text-decoration: none;
      font-weight: bold;
      border-radius: 6px;
      transition: 0.3s;
    }
     .location-info b {
      font-size: 15px;
      font-weight: 0;
    }

    .location-info a:hover {
      background: #d4af37;
    }

    /* Right Column (Map) */
.location-section {
    
  max-width: 1100px;
  margin: 60px auto;
  padding-top: 140px;
  display: flex;
  gap: 0px;
  align-items: stretch;   /* FIX */
  padding: 0 0px;
  
  
}

.location-map {
  flex: 2;
  min-height: 380px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.location-map iframe {
  width: 100%;
/* fill parent */
  border: 0;
  min-height: 380px;
}


 

    /* Responsive */
   @media (max-width: 992px) {
  .location-section {
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
  }

  .location-info {
    margin-top: 0;
    text-align: center;
  }

  .location-info h2 {
    font-size: 24px;
    border-left: none;
    border-bottom: 4px solid gold;
    display: inline-block;
    padding-left: 0;
    padding-bottom: 5px;
  }
.location-map iframe {
  width: 100%;
/* fill parent */
  border: 0;
  min-height: 280px;
}
  .location-info p {
    font-size: 15px;
  }

  .location-info a {
    padding: 10px 18px;
    font-size: 14px;
  }

  .location-map {
    min-height: 280px;
  }
}

@media (max-width: 576px) {
  .location-section {
    margin: 150px auto 50px auto;
    padding: 0 10px;
  }

  .location-info h2 {
    font-size: 20px;
  }

  .location-info p {
    font-size: 14px;
    line-height: 1.5;
  }

  .location-info a {
    font-size: 13px;
    padding: 8px 15px;
  }
  .location-map iframe {
  width: 100%;
/* fill parent */
  border: 0;
  min-height: 250px;
}

  .location-map {
    min-height: 220px;
  }
}
    
    .contact-details {
  font-size: 16px;
  
  margin-bottom: 15px;
}
/* STRIPE FIX */
.stripe-card {
  background: white;
}

.stripe-card iframe {
  display: block !important;
  min-height: 44px !important;
  width: 100% !important;
}
